{% extends 'base.html' %}

{% load staticfiles %}

{% block javascript %}
    {# GRUNT_DJANGO_COMPRESSOR JS #}
    {% if DEBUG %}
    <!--SCRIPTS-->
    <script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/backbone/backbone.js' %}"></script>
    <script type="text/javascript" src="{% static 'accounts/js/accounts.js' %}"></script>
    <!--SCRIPTS END-->
    {% else %}
    <script type="text/javascript" src="{% static 'dist/accounts.base_accounts.js' %}?version=b0ccd0ce0988599d10f162d91ca066c2"></script>
    {% endif %}
    {# GRUNT_DJANGO_COMPRESSOR JS END #}
{% endblock %}